$background: #0f172a;
$clippathWidth: 25px;
$polygonClipPath: polygon(
  0 0,
  calc(100% - $clippathWidth) 0,
  100% $clippathWidth,
  100% 100%,
  $clippathWidth 100%,
  0 calc(100% - $clippathWidth)
);

.projectCard {
  position: relative;

  .projectCardTitle {
    $height: 20px;
    $top: calc(-1 * $height + 1px);
    background-color: var(--neon-cyan);
    color: $background;
    position: absolute;
    min-width: 100px;
    height: $height;
    top: $top;
    right: calc($clippathWidth + 15px);
  }
  .projectCardCircleIcon {
    $size: 40px;
    $bottom: calc(-1 * $size / 2);
    position: absolute;
    left: calc($clippathWidth + 15px);
    width: $size;
    height: $size;
    bottom: $bottom;
    border: 2px solid var(--neon-cyan);
    z-index: 2;
    border-radius: 50%;
    background-color: $background;
    color: var(--neon-cyan);
    // display: inline-block;
  }

  .projectCardLink {
    $clippathWidth: 15px;
    display: inline-block;
    position: absolute;
    right: 0;
    background-color: var(--neon-cyan);
    bottom: 0px;
    padding-left: 15px;
    color: $background;
    cursor: pointer;
    clip-path: polygon($clippathWidth 0, 100% 0, 100% 100%, 0 100%, 0 $clippathWidth);
  }
}

.projectCardWrapper {
  background-color: cyan;
  padding: 2px;
  position: relative;
  clip-path: $polygonClipPath;

  .projectCardContainer {
    background-color: $background;
    clip-path: $polygonClipPath;
    padding: 16px;
    padding-bottom: 24px;
    position: relative;
  }
}
